@font-face {
		    font-family: 'CookieRun-Regular';
					    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
											     font-weight: normal;
																	     font-style: normal;
}


.header-container a {
	    text-decoration: none;
}

.web-header {
	    background-color: #6886C5;
		    font-family: 'CookieRun-Regular', sans-serif;
			    padding: 10px;
}

.logo-slogan {
	    color: #CCD2F0;
			       font-size: 1.5rem;
}

.logo {
	    color: white;
			       font-weight: 900;
				       font-size: 5rem;
}

.logo-slash {
	    color: #FC5230;
}

.sub-logo {
	    color: #CCD2F0;
			       font-size: 1.8rem;
}

.web-menu {
    background-color: #99a1c9;
}

.menu-item {
    display: inline-block;
    width: 30%;
	padding: 10px;
    font-size: 1.3rem;
	color: white;
}

.menu-item:hover {
    background-color: #696f8f;
}

.header-container {
    text-align: center;
    font-family: 'CookieRun-Regular', sans-serif;
}
